body {
  background-color: aliceblue;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.container {
  border: 1px solid black;
  width: 300px;
  text-align: center;
  padding: 25px 15px;
}

input {
  display: inline-block;
  margin-bottom: 15px;
}

button {
  width: 115px;
  margin: 0 5px;
  margin-bottom: 15px;
}

#temp-output {
  border: 1px solid black;
  width: 245px;
  height: 100px;
  margin: 0 auto;
}

h3 {
  margin: 30px 0;
}